body {
  /* background-image: url("images/christmas_1.jpg"); */
  background-color: gold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  padding-top: 100px;
}

p {
  font-size: 20px;
}

label {
  font-size: 20px;
}
