<section class='error'>
    <p class='error__desc'>{{statusCode}}. <span class='error__msg>'>{{errorMessage}}</span>
    <img class="error-image" src= "https://media.giphy.com/media/l3vRabxJJKmSmlIAw/giphy.gif"  alt="">

    </p>
</section>