<form method="POST" action="/create-user">
  <input name='username' id='createusername' class='entry' aria-label="enter your name" placeholder='name here'
    required />
  {{!-- create input for password when we get there strech goaL --}}




  <label for='category' name='category'>
    Search by category
    <select class="category" name="category" required>
      <option value="sports"> Sports </option>
      <option value="food"> Food </option>
      <option value="technology"> Technology </option>
      <option value="education"> Education </option>
    </select>
  </label>

  {{#each questions}}

  <p>{{question}}</p>
  <input name={{name}} type='radio' aria-label="Yes" value=1 required>Yes</input>
  <input name={{name}} type='radio' aria-label="No" value=0 required>No</input>
  {{/each}}

  <br>
  <br>

  <input type="submit" aria-label="submit button" />







</form>