<table>
    <tr>


        <th>name</th>

        <th>present</th>
        <th>behaviour</th>

    </tr>
    {{#each users}}

    <tr>
        <td> {{uppercaseFirstLetter name}} </td>
        <td> {{gift}} </td>
        <td> {{goodBad behaviour}} </td>
        <td><a href="/delete-user/{{name}}"><button id="delete-button">X</button></a></td>
    </tr>

    {{/each}}
</table>
