<table>
    <tr>


        <th>name</th>

        <th>present</th>
        <th>behaviour</th>

    </tr>
    {{#each users}}

    <tr>
        <td> {{name}} </td>
        <td> {{gift}} </td>
        <td> {{goodBad behaviour}} </td>
        <td><a href="">X</a></td>
    </tr>

    {{/each}}
</table>